.hero-img {
    background-image: url("img/pexels-recalmedia-60217.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.3);
}

footer {
    background-color: black;
}