/* First section */
#first-section {
    background-image: url(/assets/img/contact-photos/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

/* Contact cards */
.contact-card {
    width: 16rem;
    border: 2px solid var(--neutral-500) !important;
}

/* _______________________________ */


/* Second section */
#second-sections {
    height: 80vh;
}

/* Contact form container elements */
#card-div {
    background-color: var(--primary-600);
    width: 70%;
    border: 2px solid var(--neutral-500);
}

#contact-form {
    border-right: 2px solid var(--neutral-500);
}

#card-map {
    background-image: url(/assets/img/contact-photos/map.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* _______________________________ */