// .container {
//     height: 500px;
//     // width: 20px;
//     background-color: gray;
//     margin-top: 50px;
// }

.container {
    margin-top: 20px;
}

.row-example {
    height: 500px;


    .col,
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        background-color: gray;
        border: 2px solid white;
    }

    .row-one {
        height: 30%;
    }

    .row-two {
        height: 70%;
    }
}