.container {
  margin-top: 20px;
}

.row-example {
  height: 500px;
}
.row-example .col,
.row-example .col-1,
.row-example .col-2,
.row-example .col-3,
.row-example .col-4,
.row-example .col-5,
.row-example .col-6,
.row-example .col-7,
.row-example .col-8,
.row-example .col-9,
.row-example .col-10,
.row-example .col-11,
.row-example .col-12 {
  background-color: gray;
  border: 2px solid white;
}
.row-example .row-one {
  height: 30%;
}
.row-example .row-two {
  height: 70%;
}/*# sourceMappingURL=styles.css.map */