/* Hero banner */
#hero-banner {
    background-image: url(/assets/img/home-photos/Hero\ banner.png);
    height: 90vh;
    color: var(--neutral-100);
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-text {
    width: 50%;
}

#heading-1 {
    width: 50%;
}

/* #placeholder {
    height: 4rem;
    width: 50%;
} */

/* ______________________________ */


/* Achievements section */
#achievement-section {
    background-color: var(--neutral-400);
    overflow: hidden;
}

.achievements-cta {
    color: var(--primary-700) !important;
}

/* ______________________________ */


/* Company card elements */
.business-cards {
    width: 18rem;
    border: 2px solid gray !important;
    background-color: var(--neutral-100);
}

.business-logos {
    width: 100%;
}

.business-locations {
    color: gray;
}

.card-texts {
    width: 90%;
}

/* ______________________________ */


/* FAQ & Donations section */
#faq-donations-section {
    background-image: url(/assets/img/home-photos/faq-donations-bg.png);
    height: 80vh;
}

/* ______________________________ */