/* Root shortcuts */
:root {
    --primary-100: #9FFFEE;
    --primary-200: #6EFFE5;
    --primary-300: #3AFFDB;
    --primary-400: #07E8BF;
    --primary-500: #0AC8A5;
    --primary-600: #13A48A;
    --primary-700: #147765;

    --neutral-100: #F3FFFE;
    --neutral-200: #DBE6E5;
    --neutral-300: #BECDCB;
    --neutral-400: #9FABA9;
    --neutral-500: #575D5D;
    --neutral-600: #4A5151;
    --neutral-700: #383E3E;
    --neutral-8000: #232626;
    --neutral-900: #1A1C1C;
    --neutral-1000: #151717;
}

/* End of shortcuts */

body {
    background-color: var(--neutral-200) !important;
}

#primary-btn {
    background-color: var(--primary-400);
    color: var(--neutral-900);
}

#primary-btn:hover {
    background-color: var(--primary-700);
    color: var(--neutral-100);
}

#tag-btn {
    background-color: var(--neutral-100);
    border: 2px solid var(--neutral-500);
    color: var(--neutral-700);
}

/* #tag-btn:hover {
    background-color: var(--neutral-400);
} */

#search-bar {
    border: 2px solid var(--neutral-500)
}

#footer-style {
    background-color: var(--primary-700);
    height: 55vh;
    color: #fff;
}

#copyright-section {
    height: 25%;
}

#footer-break {
    border: 2px solid white;
    width: 90%;
}