/* Header section */
#section-header {
    height: 28vh;
}

#header-text {
    width: 70%;
}

/* ___________________________ */



/* Resume consultant section */
#resume-consultant-section {
    background-image: url(/assets/img/resume-photos/resume-consultant-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#resume-consultant-secondary {
    height: 100%;
    background-color: #4a5151b7;
    color: #fff;
}

/* ____________________________ */



/* Paragraphs */
.consultant-section-texts {
    width: 78%;
}

/* ______________________________ */



/* AI assistant section */
#ai-assistant-section {
    background-image: url(/assets/img/resume-photos/ai-consultant-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

#ai-assistant-secondary {
    height: 100%;
    background-color: #14776570;
}

/* _________________________ */



/* Volunteers section */
#volunteers-section {
    height: 80vh;
}

#resume-photo {
    width: 35vw;
}

#resume-texts {
    width: 92%;
}

/* ___________________________ */