.container {
    margin-top: 20px;
}

.row-example {
    height: 500px;

    // .secondary {
    //     height: 30%;
    //     // background-color: blue;
    //     // border: 1px solid white;
    // }

    .col,
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        background-color: gray;
        border: 2px solid white;
    }

    .purple {
        background-color: purple;
    }

    .yellow {
        background-color: yellow;
    }

    .green {
        background-color: green;
    }
}