.parent-element {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 3rem;
  width: 100vw;
  height: 100vh;
  place-items: center;
  margin: 0 auto;
}/*# sourceMappingURL=grid.css.map */