.parent-element {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, 1fr);
    // alt is 1fr 1fr 1fr
    gap: 3rem;
    width: 100vw;
    height: 100vh;
    place-items: center;
    margin: 0 auto;

    // div {
    //     width: 200px;
    // }
}


// "fr" stands for "fragment" (how many columns the elements will be arranged into)
// "repeat" is so you dont have to keep repeating the (fr) command