/* Form section */
#form-section {
    background-image: url(/assets/img/log-photos/hero-banner.png);
    height: 87vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* __________________________ */



/* Form card element */
#form-card {
    width: 20rem;
}

/* __________________________ */



/* Register link */
#register-link {
    color: var(--primary-400);
}

#register-link:hover {
    color: var(--primary-700);
}

/* __________________________ */